<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 As Brigitte Bardot is a individual project, non educable. We are here for:


 The expansion of social ideas and reviews abouts music, movies, fashion, authentic personalities, and local events. 

  Spreading good vibe. 

  Make you 1% more cool, before entering the site.
</p>