<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<a href="https://www.youtube.com/watch?v=e4pbuMcPhV0">LOOSEBLUESYOUCHOOSE</a>

Said Kenny. We say, anyhow, anywhere, anyway >>> simbad456@gmail.com

</p>